#thumbs {
  width: 92%;
  margin: 1em auto;
}
#views {
  width: 90%;
  height: 225px;
  margin: 15px auto;
  padding: 1em 0;
  border: 1px dotted black;
}
#thumbs img {
  display: inline-block;
  width: 64px;
  height: 48px;
  border: 1px solid black;
}
#views img {
  display: block;
  width: 300px;
  height: 225px;
  margin: 0 auto;
  border: 1px solid black;
}
